.allJobs__Upper {
    background-color: #25324F;
    height: 210px;
}

.allJobs__navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #25324F;
    border-bottom: 1px solid #E8E8E833;
}

.allJobs__button {
    border: 1px solid #43AFFF;
    background: #43AFFF33 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
}

.allJobs__icon {
    display: flex;
    align-items: center;
}

.allJobs__jumbo {
    display: flex;
    margin-top: 50px;
}

.allJobs__jumboLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}

.allJobs__getStarted {
    background: #43AFFF 0% 0% no-repeat padding-box;
    border: 1px solid #43AFFF;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    text-align: center;
    margin-top: 35px;
    color: #ffffff;
    cursor: pointer;
}

.allJobs__image > img {
    box-shadow: 0px 30px 36px #557DA526;
    border-radius: 20px;
    opacity: 1;
    width: 622px;
    height: 395px;
}

.allJobs__welcomePara {
    font-size: 2em;
    margin-top: -20px;
}

.allJobs__lower {
    background-color: #EDF6FE;
}

.allJobs__columns {
  float: left;
  padding: 0 10px;
}

.allJobs__row {
    margin: 0 -5px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 40px;

    position: absolute;
    top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100px;
    border-radius: 5px;
}

.allJobs__row:after {
  content: "";
  display: table;
  clear: both;
}

.allJobs__card {
    padding: 16px;
    text-align: left;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #557DA526;
    border-radius: 5px;
    width: 260px;
    height: 162px;
    padding-bottom: 30px;
}

.allJobs__card > h3 {
    color: #9CD5FC;
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}

.allJobs__card > p {
    color: #303F60;
    font-size: 14px;
}

.allJobs__why {
    margin-top: 100px;
    padding-left: 50px;
    font-size: 27px;
}

.allJobs__why > p {
    color: #303F60;
}

.allJobs__icons {
    display: flex;
    align-items: center;
}

.allJobs__icons img {
    width: 15px;
    height: 18px;
    margin-right: 6px;
}

.allJobs__icons p {
    color: #303F60;
    font-size: 14px;
}

.allJobs__buttonContent {
    background: #43AFFF33 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.allJobs__content {
    color: #303F60;
}

.allJobs__location {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.allJobs__empty {
    display: flex;
    justify-content: center;
    color: #303F60;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.allJobs__empty > img {
    width: 106px;
    height: 106px;
    margin-bottom: 15px;
}

.allJobs__post {
    background: #43AFFF 0% 0% no-repeat padding-box;
    border: 1px solid #43AFFF;
    border-radius: 5px;
    width: 148px;
    height: 46px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.allJobs__post > p {
    color: #FFFFFF;
    font-size: 16px;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #303F6080;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
}

.container {
  padding: 2px 16px;
}

.container > h4 {
    color: #303F60;
}

.container > p {
    color: #303F60;
    margin-top: 10px;
}

.allJobs__skillsContainer {
    margin-top: 20px;
}

.allJobs__skills {
    color: #303F60;
    font-weight: 600;
}

.allJobs__skill {
    color: #303F60;
    margin-top: 6px;
}

.pagination {
    justify-content: space-evenly !important;
    display: flex;
    list-style-type: none;
    padding: 20px;
}

a {
    color: #303F60;
}