.forgot__upper {
    background-color: #25324F;
    height: 362px;
}

.forgot__jumbo {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #25324F;
}

.forgot__jumboLeft {
    display: flex;
    flex-direction: column;
}

.forgot__form > h3, .forgot__form p {
    color: #303F60;
}

.forgot__form input {
    background: #E8E8E833 0% 0% no-repeat padding-box;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    outline-color: #43AFFF;
    width: 100%;
    height: 46px;
    margin-top: 10px;
    padding-left: 10px;
}

.forgot__lower {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.forgot__form {
    width: 35%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 36px #557DA526;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    position: relative;
    top: -220px;
}

.forgot__fullName, .forgot__emailAddress, .forgot__password, .forgot__skills {
    margin-top: 25px;
}

.forgot__pass {
    display: flex;
    justify-content: space-between;
}

.forgot__para {
    margin-top: 25px;
}

.forgot__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 18px;
}

.forgot__submit > p {
    border: 1px solid var(--unnamed-color-43afff);
    background: #43AFFF 0% 0% no-repeat padding-box;
    border: 1px solid #43AFFF;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    width: 148px;
    text-align: center;
    cursor: pointer;
}

.forgot__register {
    text-align: center;
    margin-top: 30px;
}

.forgot__error {
    text-align: right;
    color: red;
    margin-top: 5px;
}